*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console{
  background-color: white;
  color: green;
  font-weight: bold;
}

.player-status{
  position: absolute;
  bottom: 1%;
  left: 16.25%;
  opacity: 0.8;
}

.center {
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: 1.5%;
}

.botright {
  position: absolute;
  right: 1%;
  bottom: 1.5%;
}

.topright{
  position: absolute;
  top: 2%;
  right: 1.5%;
}

@font-face {
  font-family: bankgothic;
  src: url(../fonts/bankgothic.ttf);
}

/* menu */
.menu{
  background-image: url(../img/fundo.jpeg);
  background-size: 100% 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  width: 210px;
  height: 400px;
  font-weight: bold;
  border: 0px solid #000000;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 31px;
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 60%;
  right: 30%;
}

.menu-content{
  background-image: url(../img/background.png);
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  padding: 2px;
}

.menu .title {
  text-align: center;
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 12px;
  border-radius: 30px 30px 0 0;
}

.menu .desc{
  position: absolute;
  left: 100.9%;
  top: 10%;
  background: #f0f0f0;
  padding: 10px;
  color: rgba(0,0,0,0.9);
  font-size: 14px;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
  min-width: 150px;
}

.menu .choices {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 280px;
  overflow: scroll;
  padding-top: 0;
  padding: 7px;
  padding-right: 9px;
  padding-left: 5px;
}

.menu .choice {
  padding: 10px;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.menu .choice.current {
  background: rgba(255,255,255,0.4);
}

.menu_description{
  background-color: rgba(35, 40, 46, 0.5);
  border-radius: 0px 10px 10px 0px;
 -moz-border-radius: 0px 10px 10px 0px;
 -webkit-border-radius: 0px 10px 10px 0px;
  border: 0px solid #000000;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
  padding: 9px;
  font-size: 1.0em;
  max-width: 500px;
}

.menu h1{
  background-color: rgba(255,0,0,0.75);
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  text-align: center;
  font-size: 1.6em;
  padding: 6px;
  font-weight: bold;
}

.choices{
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar{ 
  display: none; 
}

.choices div{
  padding: 6px;
  font-size: 1.2em;
}

.choices .selected{
  background-color: rgba(255,255,255,0.90);
  color: black;
}

/* progress bar */

.progressbar{
  display: inline-block;
  position: relative;
  width: 25px;
  height: 150px;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid rgba(0,0,0, 0.6);
  box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
  background: #373435;
  margin: 10px 10px 0 0;
  border: 4px solid #373435;
}

.progressbar.horizontal{
  width: 300px;
  height: 25px;
}

.botright .progressbar.horizontal{
  width: 250px;
}

.progressbar .text{
  position: absolute;
  width: 100%;
  top: 3px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
}

.progressbar .inner{
  width: 100%;
  background: #e02a2a;
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  font-weight: bold;
  position: absolute;
}

.progressbar .icon-bar{
  position: absolute;
  bottom: 5px;
  margin: 0 auto;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}

.icon-work{
  background: url(../img/work.png);
  width: 25px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.icon-money{
  background: url(../img/money.png);
  width: 25px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}

.icon-inline{
  display: inline-block;
  vertical-align: middle;
}

/* request */
.request-message {
  background: #2B2E36;
  min-width: 200px;
  border-radius: 10px;
}

.request-message .message{
  font-weight: bold;
  color: #fff;
  padding-bottom: 5px;
  display: inline-block;
  padding: 10px;
}

.request-message .options{
  text-align: right;
  display: inline-block;
}
.request-message .yes,
.request-message .no,
.request-message .time{
  display: inline-block;
  padding: 10px;
  box-shadow: inset 3px 0 3px rgba(0,0,0, 0.3);
}

.request-message .yes{
  color: #fff;
  background-color: #64918e;
}

.request-message .no{
  color: #fff;
  background-color: #df4646;
}

.request-message .time{
  color: #fff;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0 !important;
  margin: 0;
  height: 25px;
  border: 3px solid black;
  overflow: hidden;
}

.dprogressbar .inner{
  height: 100%;
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
}

.prompt-back {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.prompt .content{
  position: absolute;
  z-index: 100;
  margin: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  background: #373435;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
  min-width: 500px;
  border-radius: 10px;
}

.prompt .content input[type="text"] {
  background: #373435;
  border: 0;
  border-bottom: 1px solid #64918e;
  color: #fff;
  padding: 20px 0 10px 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.prompt .content input[type="text"]:focus{
  outline: 0;
}

.prompt .title {
  padding-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

.prompt .help{
  color: #fff;
  padding: 10px 0 10px 3px;
  text-transform: lowercase;
}

/* announce */

.announce{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 400px;
  height: 94px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  text-shadow: 2px 2px black;
  color: white;
  opacity: 0.90;
  overflow: hidden;
  border-radius: 10px;
}

.announce .message{
  width: 275px;
}

@media only screen and (min-width: 1800px){
  .player-status {
    left: 17.1%;
    bottom: 1%;
  }

  .player-status .progressbar{
    height: 180px;
  }

  .div_job{
    left: 21.6% !important;
  }

  .div_money{
    left: 21.6% !important;
  }
}